/* Reset of all margins and paddings */

*
{
    margin: 0;
    padding: 0;
}

:root
{
    /* used for background color on heade, hero, main*/
    --background-hue: 207;
    --background-hue-2: 0;
    --background-hue-3: 115

    --main: hsl(var(--background-hue), 30%, 20%);
    --hero: hsl(var(--background-hue), 40%, 55%);
    --header: hsl(var(--background-hue), 0%, 0%);
    --menu: hsl(var(--background-hue-2), 100%, 50%);
    --extra: hsl(var(--background-hue-3), 25%, 54%);
    --img: hsl(var(--background-hue-3), 25%, 86%);
}

/* for mobile */
.container
{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px auto 80px;
    grid-template-areas: "header" 
                         "menu-1" 
                         "main" 
                         "banner"
                         "extra"
                         "img";
    height: 100vh;
}

.item-a, .item-b, .item-c, .item-d, .item-e, .item-f, .item-g
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* same background color in both items */
.item-a, .item-d
{
    background-color: var(--dark-background-color);
}

h1
{
    color: hsl(0, 0%, 100%);
}

.item-a
{    
    grid-area: header;
}

.item-b
{
    grid-area: main;
    background-color: var(--light-background-color);
}

.item-c
{    
    grid-area: menu-1;
    background-color: var(--main-background-color);
}

.item-d
{
    grid-area: banner;
}

.item-e
{
    grid-area: hero;
}

.item-f
{
    grid-area: extra;
}

.item-g
{
    grid-area: img;
}

/* for tablet */
@media only screen and (min-width: 400px)
{
    .container
    {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header header" 
                             "side-1 menu-1 main side-2" 
                             "footer footer footer footer";
        height: 100vh;
    }

    .item-e, .item-f
    {
        display: flex;
        background-color: var(--medium-dark-background-color);
    }
}

/* for pc */
@media only screen and (min-width: 600px)
{
    .container
    {
        display:grid;
        grid-template-columns: 1fr 1fr 3fr 1fr;
        grid-template-rows: 80px auto 80px;
        grid-template-areas: "header header header header" 
                             "side-1 menu-1 main side-2" 
                             "footer footer footer footer";
        height: 100vh;
    }

    .item-e, .item-f
    {
        display: flex;
        background-color: var(--medium-dark-background-color);
    }
}